/* src/pages/LandingPage.css */

/* --- Hero Section Styling --- */
.hero-section {
  padding: 60px 0 80px;
  /* background-color: red;
  background-blend-mode:color; */
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-image: url("/home.jpg");
  background-size: cover;
  background-position: bottom;
  
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  line-height: 1.1;
  color: white;
}

.hero-text p {
  font-size: 1.25rem;
  color: white;
  margin-bottom: 30px;
}

.hero-ctas {
  display: flex;
  gap: 15px;
}

.btn-large {
  padding: 12px 30px;
  font-size: 1.1rem;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 28px;
  border-radius: 50px; 
  box-shadow: 0 4px 8px rgba(56, 142, 60, 0.3);
}

.btn-primary:hover {
  background-color: #2e7d32; 
  color:white;
  box-shadow: 0 6px 12px rgba(56, 142, 60, 0.4);
}

.btn-secondary {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: white;
  padding: 10px 28px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(56, 142, 60, 0.3);
}

.btn-secondary:hover {
  background-color: #2e7d32;
  color: white;
  box-shadow: 0 6px 12px rgba(29, 95, 32, 0.4);
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.image-placeholder {
  width: 400px;
  height: 300px;
  background-color: var(
    --color-primary
  ); 
  background-image: url("/home.jpg");
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  box-shadow: var(--shadow-soft);
}




/* --- How It Works Section Styling --- */
.how-it-works {
  padding: 80px 0;
}

.subtitle {
  font-size: 1.1rem;
  color: var(--color-text-light);
  margin-bottom: 40px;
}

.steps-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

/* --- Categories Highlight Section Styling --- */
.categories-highlight {
  padding: 40px 0 80px;
  background-color: var(--color-background-light);
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
}
